body {
    margin: 0px auto;
    text-align: center;
    background-color: black;
    color: white;
    font-family: courier;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
fieldset {
    margin: 10px auto;
    text-align: left;
    width: 30%;
}
ol, ul {
    text-align: center;
    list-style-position: inside;
}
#info {
    font-size: 24px;
    border: 10px solid blue;
    margin-bottom: 10px;
    display: inline-block;
    background-color: blue;
}
#home {
    background-color: rgb(244, 150, 66);
    margin: 0px;
    padding: 0px 10px 0px 10px;
    display: inline;
}
#away {
    background-color: rgb(260, 66, 244);
    margin: 0px;
    padding: 0px 10px 0px 10px;
    display: inline;
}
#period, #time {
    background-color: black;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    display: inline;
}