body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: courier;
}
#content {
    max-width: 600px;
    margin: 0px auto;
}
nav {
    border: thin solid white;
    text-align: center;
    padding-bottom: 10px;
}
a:link, a:visited {
    color: white;
}
table {
    text-align: initial;
}
#info {
    font-size: 24px;
    border: 10px solid black;
    margin: 10px 0px;
    display: none;
    background-color: black;
}
#home {
    background-color: orange;
    margin: 0px;
    display: inline;
}
#away {
    background-color: green;
    margin: 0px;
    display: inline;
}
#period, #time {
    background-color: black;
    margin: 0px;
    display: inline;
}
/*styles for the aboutus page*/
#bios {
    float: left;
}
article {
    clear: left;
    overflow: auto;
    text-align: initial;
}
figure {
    float: left;
    padding-bottom: 9px;
    width: 200px;
    border: thick solid white;
    border-radius: 10px;
}
figcaption {
    text-align: center;
}
img {
    height: inherit;
    width: inherit;
}